/* * {
    box-sizing: border-box;
  } */
.container{
    display: flex;
    flex-wrap: wrap; 
    
}  
.our-store{
   /* height: 70vh; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 6px;
   margin-bottom: 1rem;
   padding: 1rem;
}
.store{
    width: 560px;
    height: 200px;
    margin-top: 1rem;
}
.store b{
    color: rgb(245, 48, 48);
}
.store p{

    color: rgb(255, 255, 255);
}
.store img{
    margin: 2rem 0; 
    width: 380px;
    height: 160px;
}
